@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300&display=swap');

header {
    height: 300px;
    width:100%;
    padding-top: 10rem;
    background-image: url("/public/images/IMG_5872.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#perfil {
    width: 150px;
    height: 150px;
} #imagem {padding-top: 5rem;}

#main {
    margin-top: 10rem;
    height: 40vh;
}
#buttons_links {
    padding-block: 1rem;
}

#buttons button {
    background-color: rgb(255, 255, 255);
    border-color: pink;
}

#buttons button:hover {
    background-color: rgb(216, 139, 152);
}

#buttons a {
    color:#12115c;
    text-decoration: none;
}

#nome {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: black;
}

#subnome {
    font-family: 'Nunito', sans-serif;
    color: black;
}