@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300&display=swap');

@media screen and (max-width: 524px) {
    #main {
        height: 40vh;
    }
}

#perfil {
    width: 150px;
    height: 160px;
} #imagem {padding-top: 5rem;}

#main {
    margin-top: 10rem;
}

#buttons_links {
    font-family: 'Nunito', sans-serif;
    padding-block: 1rem;
    position: relative;
}


#buttons a {
    text-decoration: none;
}

#buttons button {
    color:#2e1e69;
    background-color: transparent;
    border-color: pink;
}

#buttons button:hover {
    background-color: rgb(216, 139, 152);
}

#nome {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    color: #dd7a89;
}

#subnome {
    margin-top: 0.2rem;
    font-family: 'Nunito', sans-serif;
    color:#2e1e69;
}

#logo {
    width: 25%;
}
@media screen and (max-width: 924px) {
    #logo {
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    #perfil {
        width: 280px;
        height: 290px;
    }
    #imagem {padding-top:0; margin-top:-4rem;}
}